<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>TagLibrariesOld</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>stockServlet</servlet-name>
		<servlet-class>com.skilldistillery.taglibraries.drills.servlets.StockServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockServlet</servlet-name>
		<url-pattern>/stockPrice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>stockList</servlet-name>
		<servlet-class>com.skilldistillery.taglibraries.drills.servlets.StockServletList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>stockList</servlet-name>
		<url-pattern>/listStocks</url-pattern>
	</servlet-mapping>
</web-app>